* {
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    background: linear-gradient(
    to bottom, var(--theme-top-bg-color) 20%, var(--theme-bg-color) 20%);
}

a {
    text-decoration: none;
}