@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html,
body {
        
    line-height: 1.3rem;
    font-size: $font-size-small;
    
    @media screen and (min-width:600px) {
        font-size: $font-size-medium;
    }
    
    @media screen and (min-width:1000px) {
        font-size: $font-size-large;
    }
}

body,
a {
    color: var(--text-alt-color);
    font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: $font-family;
    color: var(--text-color);
}