@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    
    font-family: 'Inter', sans-serif;
    line-height: 1.3rem;
    font-size: $size;
}

a,
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Inter', sans-serif;
}