.overview-cards {

    &__title{
        width: 100%;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top:1rem;
        margin-bottom: 1rem;
        
    }

    &__card {
        width: 100%;
        background-color: $bg-card-dark-theme;
        border-radius: 4px;
        margin-bottom: 1rem;
        padding:1rem 1.5rem;
        position: relative;

        &--fb {
            font-weight: bold;
            width: 100%;
            margin-bottom: 2rem;
            position: relative;
            a{
                color: $dark-grey-blue-text;
                &::after {
                    content: '\f230';
                    font-family: 'FontAwesome';
                    top:0;
                    right: 0;
                    position: absolute;
                    font-size: 1.5rem;
                    color: $fb-color;
                }
                &:hover {
                    color: $white-text;
                }
            }      
            
        }

        &--tw {
            font-weight: bold;
            width: 100%;
            margin-bottom: 2rem;
            position: relative;
            a{
                color: $dark-grey-blue-text;
                &::after {
                    content: '\f099';
                    font-family: 'FontAwesome';
                    top:0;
                    right: 0;
                    position: absolute;
                    font-size: 1.5rem;
                    color: $tw-color;
                }
                &:hover {
                    color: $white-text;
                }
            }      
            
        }

        &--insta {
            font-weight: bold;
            width: 100%;
            margin-bottom: 2rem;
            position: relative;
            a{
                color: $dark-grey-blue-text;
                &::after {
                    content: '\f16d';
                    font-family: 'FontAwesome';
                    top:0;
                    right: 0;
                    position: absolute;
                    font-size: 1.5rem;
                    background:-moz-$insta-color; 
                    background: -webkit-$insta-color; 
                    background: $insta-color;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color:transparent;
                }
                &:hover {
                    color: $white-text;
                }
            }      
            
        }

        &--yt {
            font-weight: bold;
            width: 100%;
            margin-bottom: 2rem;
            position: relative;
            a{
                color: $dark-grey-blue-text;
                &::after {
                content: '\f16a';
                font-family: 'FontAwesome';
                top:0;
                right: 0;
                position: absolute;
                font-size: 1.5rem;
                color: $yt-color;
            }
                &:hover {
                    color: $white-text;
                }
            }      
            
        }

        & p:nth-child(2) {
            font-size: 1.8rem;
            font-weight: bold;
        }
        & p:nth-child(3) {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 1rem;
            font-size: 0.8rem;
            font-weight: bold;
        }

        &.like {
            & p:nth-child(3) {
                a {
                    color: $lime-green;

                    &::before {
                        content: '\f0d8';
                        font-family: 'FontAwesome';
                        margin-right: 2px;
                    }
                }
                
            }
        }

        &.dislike {
            & p:nth-child(3) {
                a{
                    color: $bright-red;
                    
                    &::before {
                        content: '\f0d7';
                        font-family: 'FontAwesome';
                        margin-right: 2px;
                    }
                }
            }
        }

    }

}

@media screen and (min-width:600px) {
    .overview-cards__card {
        width: calc(51% - 1rem);
        margin-right: 1rem;
        &:nth-child(odd){
            margin-right: 0;
        }
    }
}

@media screen and (min-width:1000px) {
    .overview-cards__card {
        width: calc(25% - 0.75rem);
        &:nth-child(odd){
            margin-right: 1rem;
        }
        &:nth-child(5n) {
            margin-right: 0;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}