.title {
    width: 100%;
    border-bottom: 1px solid var(--text-color);
    h1 {
        font-weight: bold;
        font-size: 1.6rem;
        margin-bottom: 0.3rem;
    }

    p {
        font-weight: bold;
        color: var(--text-alt-color);
        margin-bottom: 0.8rem;
    }

    @media screen and (min-width:600px)  {
        border: none;
    }
}